body {
  background-color: #7392B7;
}

header {
  background-color: #B3C5D7;
}

h2 {
  background-color: #9DBAD1;
}

.btn {
  background-color: #DCE4EB;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.currentday {
  background-color: #93ACB5;
  max-width: 30%;
}